# **Mounting Drive**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Tensorflow and Other Library Adding

In [2]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras import layers
from tensorflow.keras.datasets import mnist
from tensorflow.keras import regularizers
import numpy as np
import pandas as pd

# Load Datasets

In [3]:
(X_train,y_train),(X_test,y_test) = mnist.load_data()

Downloading data from https://storage.googleapis.com/tensorflow/tf-keras-datasets/mnist.npz
11493376/11490434 [==============================] - 0s 0us/step

In [4]:
X_train = X_train.astype('float32') / 255.0
X_test = X_test.astype('float32') / 255.0

In [5]:
X_train = X_train.reshape(-1,28,28,1)
X_test = X_test.reshape(-1,28,28,1)

In [6]:
print('X_train Shape : ' + str(X_train.shape))
print('y_train Shape : '+ str(y_train.shape))
print('X_test Shape : '+str(X_test.shape))
print('y_test Shape : '+str(y_test.shape))

X_train Shape : (60000, 28, 28, 1)
y_train Shape : (60000,)
X_test Shape : (10000, 28, 28, 1)
y_test Shape : (10000,)

# Creating a Model

In [7]:
# Cancle this model

def my_model1():
  inputs = keras.Input(shape = (28,28,1))
  x = layers.Conv2D(2,3,padding = 'same',kernel_regularizer=regularizers.l2(0.01))(inputs)
  #x = layers.MaxPooling2D(pool_size=(2,2))(x)
  x = keras.activations.relu(x)
  x = layers.Conv2D(8,3,padding = 'same',kernel_regularizer = regularizers.l2(0.01))(x)
  x = keras.activations.relu(x)
  x = layers.MaxPooling2D(pool_size=(2,2))(x)
  x = layers.Conv2D(16,3,padding = 'same',kernel_regularizer = regularizers.l2(0.01))(x)
  x = keras.activations.relu(x)
  x = layers.MaxPooling2D(pool_size=(2,2))(x)
  x = layers.Dropout(0.2)(x)
  x = layers.Conv2D(32,3)(x)      
  x = keras.activations.relu(x)
  x = layers.MaxPooling2D(pool_size=(2,2))(x)
  #x = layers.Conv2D(64,3,kernel_regularizer=regularizers.l2(0.01))(x)
  #x = keras.activations.relu(x)
  x = layers.Flatten()(x)
  x = layers.Dense(80,activation='relu',kernel_regularizer=regularizers.l2(0.001))(x)
  #x = layers.Dropout(0.2)(x)
  x = layers.Dense(64,activation='relu',kernel_regularizer=regularizers.l2(0.001))(x)
  #x = layers.Dropout(0.2)(x)
  x = layers.Dense(32,activation='relu',kernel_regularizer=regularizers.l2(0.001))(x)
  outputs = layers.Dense(10)(x)
  model = keras.Model(inputs=inputs,outputs=outputs)
  return model

In [8]:
# cancle this model 

def my_model2():
    inputs = keras.Input(shape=(28,28,1))
    x = layers.Conv2D(2,3,padding='same',kernel_regularizer = regularizers.l2(0.01),activation='relu')(inputs)
    x = layers.Conv2D(8,3,padding='same',kernel_regularizer = regularizers.l2(0.01),activation='relu')(x)
    x = layers.MaxPooling2D(pool_size = (2,2))(x)
    x = layers.Conv2D(16,3,padding='same',kernel_regularizer=regularizers.l2(0.01),activation='relu')(x)
    x = layers.MaxPooling2D(pool_size=(2,2))(x)
    x = layers.Dropout(0.2)(x)
    x = layers.Conv2D(32,3,activation='relu')(x)
    x = layers.MaxPooling2D(pool_size=(2,2))(x)
    
    x = layers.Flatten()(x)
    #x = layers.Dense(80,activation='relu',kernel_regularizer=regularizers.l2(0.001))(x)
    #x = layers.Dense(64,activation='relu',kernel_regularizer=regularizers.l2(0.001))(x)
    #x = layers.Dense(32,activation='relu',kernel_regularizer=regularizers.l2(0.001))(x)
    outputs = layers.Dense(10)(x)
    
    model = keras.Model(inputs=inputs,outputs=outputs)
    
    return model

In [9]:
def my_model():
    inputs = keras.Input(shape=(28,28,1))
    x = layers.Conv2D(32,7,padding='same',activation='relu')(inputs)
    x = layers.MaxPooling2D(pool_size = (2,2))(x)
    x = layers.Conv2D(64,5,padding='same',activation='relu')(x)
    x = layers.MaxPooling2D(pool_size = (2,2))(x)
    x = layers.Conv2D(128,3,padding='same',activation='relu')(x)
    x = layers.MaxPooling2D(pool_size=(2,2))(x)
    #x = layers.Conv2D(64,3,padding='same',activation='relu')(x)
    #x = layers.MaxPooling2D(pool_size=(2,2))(x)
    
    x = layers.Flatten()(x)
    #x = layers.Dense(256,activation='relu',kernel_regularizer=regularizers.l2(0.1))(x)
    #x = layers.Dense(128,activation='relu',kernel_regularizer=regularizers.l2(0.1))(x)
    x = layers.Dense(64,activation='relu')(x)
    x = layers.Dropout(0.2)(x)
    outputs = layers.Dense(10)(x)
    
    model = keras.Model(inputs=inputs,outputs=outputs)
    
    return model

In [10]:
model = my_model()

In [11]:
model.summary()

Model: "model"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         [(None, 28, 28, 1)]       0
_________________________________________________________________
conv2d (Conv2D)              (None, 28, 28, 32)        1600
_________________________________________________________________
max_pooling2d (MaxPooling2D) (None, 14, 14, 32)        0
_________________________________________________________________
conv2d_1 (Conv2D)            (None, 14, 14, 64)        51264
_________________________________________________________________
max_pooling2d_1 (MaxPooling2 (None, 7, 7, 64)          0
_________________________________________________________________
conv2d_2 (Conv2D)            (None, 7, 7, 128)         73856
_________________________________________________________________
max_pooling2d_2 (MaxPooling2 (None, 3, 3, 128)         0
_________________________________________________________________
flatten (Flatten)            (None, 1152)              0
_________________________________________________________________
dense (Dense)                (None, 64)                73792
_________________________________________________________________
dropout (Dropout)            (None, 64)                0
_________________________________________________________________
dense_1 (Dense)              (None, 10)                650
=================================================================
Total params: 201,162
Trainable params: 201,162
Non-trainable params: 0
_________________________________________________________________

# Model compile

In [12]:
model.compile(
    loss = keras.losses.SparseCategoricalCrossentropy(from_logits=True),
    optimizer = keras.optimizers.Adam(learning_rate=0.001),
    metrics = ['accuracy']
)

# Run Model

In [13]:
model.fit(X_train,y_train,epochs=15,batch_size=128,verbose=2)

Epoch 1/15
469/469 - 36s - loss: 0.2662 - accuracy: 0.9185
Epoch 2/15
469/469 - 3s - loss: 0.0712 - accuracy: 0.9793
Epoch 3/15
469/469 - 3s - loss: 0.0491 - accuracy: 0.9856
Epoch 4/15
469/469 - 3s - loss: 0.0366 - accuracy: 0.9891
Epoch 5/15
469/469 - 3s - loss: 0.0293 - accuracy: 0.9912
Epoch 6/15
469/469 - 3s - loss: 0.0252 - accuracy: 0.9924
Epoch 7/15
469/469 - 3s - loss: 0.0203 - accuracy: 0.9935
Epoch 8/15
469/469 - 3s - loss: 0.0195 - accuracy: 0.9937
Epoch 9/15
469/469 - 3s - loss: 0.0173 - accuracy: 0.9948
Epoch 10/15
469/469 - 3s - loss: 0.0153 - accuracy: 0.9950
Epoch 11/15
469/469 - 3s - loss: 0.0137 - accuracy: 0.9955
Epoch 12/15
469/469 - 3s - loss: 0.0119 - accuracy: 0.9959
Epoch 13/15
469/469 - 3s - loss: 0.0102 - accuracy: 0.9968
Epoch 14/15
469/469 - 3s - loss: 0.0102 - accuracy: 0.9971
Epoch 15/15
469/469 - 3s - loss: 0.0098 - accuracy: 0.9966

In [14]:
model.evaluate(X_test,y_test,batch_size=128,verbose=2)

79/79 - 0s - loss: 0.0277 - accuracy: 0.9930

[0.027699200436472893, 0.9929999709129333]

In [15]:
model.evaluate(X_train,y_train,batch_size=128,verbose=2)

469/469 - 1s - loss: 0.0047 - accuracy: 0.9984

[0.004694778937846422, 0.9983500242233276]

In [16]:
test_pred = model.predict(X_test)
rs_test = np.argmax(test_pred,axis=1)
indices1 = [i for i,v in enumerate(rs_test) if rs_test[i] != y_test[i]]
wrong_data1 = pd.DataFrame({'Index':indices1,'Y Orig':y_test[indices1],'Y Pred':rs_test[indices1]})
wrong_data1.set_index('Index',inplace=True)
wrong_data1

       Y Orig  Y Pred
Index
115         4       9
247         4       6
321         2       7
340         5       3
445         6       0
...       ...     ...
9642        9       7
9664        2       7
9729        5       6
9755        8       5
9904        2       8

[70 rows x 2 columns]

# Prediction With Other Dataset

In [17]:
import pandas as pd
data = pd.read_csv('/content/drive/MyDrive/Digit_Classification/digit-recognizer/train.csv')
data_test = data.drop(labels = 'label',axis = 1).values
data_label = data['label']

In [18]:
model.evaluate(data_test.reshape(-1,28,28,1),data_label)

1313/1313 [==============================] - 4s 3ms/step - loss: 1.2423 - accuracy: 0.9978

[1.24233877658844, 0.9978333115577698]

In [19]:
pred=model.predict(data_test.reshape(-1,28,28,1))

In [20]:
#X_train[1].reshape(-1,28,28,1).shape

In [21]:
rs = np.argmax(pred,axis=1)

In [22]:
indices = [i for i,v in enumerate(rs) if rs[i] != data_label[i]]

In [23]:
wrong_data = pd.DataFrame({'Y Orig':data_label[indices],'Y Pred':rs[indices]})
wrong_data

       Y Orig  Y Pred
644         2       7
1031        9       7
1772        1       2
2137        7       9
2316        1       7
...       ...     ...
38499       9       7
38630       6       4
40238       8       2
41221       9       4
41691       4       1

[91 rows x 2 columns]